
@media screen AND (max-width:899px){

.ElaborarCotizacion{
    width: 98%;
    max-width: 500px;
    display: none;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.etiquetaAreaLab{
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 30px;
    font-size: 10px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
}

@media screen AND (min-width:900px){
.article{
    margin: auto;
}

.ElaborarCotizacion{
max-width: 500px;
display: none;
margin: auto;
margin-top: 60px;
margin-bottom: 10px;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.etiquetaAreaLab{
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 30px;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
}

.marcoContainerArticle{
    width: 98%;
    height: 90%;
    margin-left: 1%;
    display: block;
}

.marcoInformacionCliente{
    
    width: 100%;
    padding: 0px;
    border:1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
}

.marcoRadioButtonInfCliente{
    display: flex;
    justify-content: space-around;
}

.marcoInputsInfoClienteProspecto{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.marcoInputsInfoCliente{
    padding: 5px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tablaAnalisis{
    width: 100%;
    border: 1px solid #ddd;
}



@media screen AND (max-width:899px){
    .btn{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media screen AND (min-width:900px){
    .btn{
        margin-bottom: 20px;
    }
}



/* En quotation.html */

@media screen AND (max-width: 899px){
.codigoCotizacion{
   margin-left: 30%;
}
}

@media screen AND (min-width: 900px){
.codigoCotizacion{
   margin-left: 70%;
}
}