<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../style/settingStyle.css">
        <link rel="stylesheet" href="../../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../../library/materialize/css/materialize.min.css">
    </head>
    <body>
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq">
                    <span><i class="fas fa-cog"></i>&nbsp;SETTING</span>
                </div>
                <div class="headerCentro"></div>
                <div class="headerDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars iconoHambuguesa" style="color: #222;"></i></a>
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA&nbsp;</span>
                </div>
            </header>
            
            <div class="nav">
                <div id="slide-out" class="sidenav">
                    
                    
                    
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="">MAESTRAS LABORATORIOS</a>
                    <a class="waves-effect waves-light btn button" onclick="submenuMaestrasPortafolio();">MAESTRAS PORTAFOLIO</a>
                    <div class="subMenuSetting sidenav-close" id="subMenuSettingMaestrasPortafolio">
                        <div class="btnsubMenuSetting" onclick="MostrarcrearSectorEconomico();mostrarSectorEcomicoCreados();">Crear sectores economicos</div>
                        <div class="btnsubMenuSetting" onclick="mostrarMarcoCategoriasMatrices();generarListaSectoresEconomicos('selectSectorDesdeCrearCategoria');mostrarCategoriasMatricesCreadas();">Crear categorias</div>
                        <div class="btnsubMenuSetting" onclick="MostrarMarcoMatrices();generarListaSectoresEconomicos('selectSectorDesdeCrearMatrices');">Crear matrices</div>
                        <div class="btnsubMenuSetting">Crear ensayos</div>
                        
                    </div>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="">USUARIOS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="">FUNCIONALIDADES</a>
                    
                  </div>
            </div>
            <article class="article">
            
            <!-- MENU MAESTRAS PORTAFOLIO  -->
            
            <!-- Display crear sector economico -->    
            <div class="MarcoCrearMaestras" id="crearSectorEconomicoid">
                <div class="etiquetaSubtitulos" style="width: 95%;margin: auto;margin-top: 20px;">1. Crear sector economico</div>
                <br/>
                <div class="input-field marcoBtnSetting">
                    <input placeholder="" id="nombreSectorEconomico" type="text" class="validate">
                    <label>SECTOR ECONOMICO</label>
                    <a href="#" class="waves-effect waves-light btn" onclick="crearSectorEconomico();">CREAR</a>
                </div>
                
                <br/>
                <div class="etiquetaSubtitulos" style="width: 95%;margin: auto;">2. Sectores economico creados</div>
                <br/>
                <table id="tableSectoresEconomicosCreados"></table>
                
            </div>
            <!-- Fin Display crear sector economico -->
            
            <!-- Display crear categorias matrices -->    
            <div class="MarcoCrearMaestras" id="crearCategoriasMatricesid">
                <div class="etiquetaSubtitulos" style="width: 95%;margin: auto;margin-top: 20px;">1. Crear categorias de matrices</div>
                <br/>
                <div class="input-field marcoBtnSetting">
                    <div class="input-field">
                        <select id="selectSectorDesdeCrearCategoria">
                            
                            
                        </select>
                          
                        <label style="margin-left: -15px;">SECTOR ECONOMICO</label>
                    </div>
                </div>
                    <br/>
                    
                <div class="input-field marcoBtnSetting">
                    <input placeholder="" id="nombreCategoriaMatrices" type="text" class="validate">
                    <label>CATEGORIAS MATRICES</label>
                    <a href="#" class="waves-effect waves-light btn" onclick="crearCategoriaMatrices();">CREAR</a>
                </div>
                
                <br/>
                <div class="etiquetaSubtitulos" style="width: 95%;margin: auto;">2. Categorias creadas</div>
                <br/>
                <table id="tableCategoriasCreadas"></table>
                
            </div>
            <!-- Fin Display crear categorias -->
            
            <!-- Display crear matrices -->    
            <div class="MarcoCrearMaestras" id="crearMatricesid">
                <div class="etiquetaSubtitulos" style="width: 95%;margin: auto;margin-top: 20px;">1. Crear de matrices</div>
                <br/>
                <div class="input-field marcoBtnSetting">
                        <select id="selectSectorDesdeCrearMatrices">
                            
                        </select>
                        <label style="margin-left: -15px;">SECTOR ECONOMICO</label>
                </div>
                    <br/>
                    
                <div class="input-field marcoBtnSetting">
                    
                    <select id="selectSectorDesdeCrearCategoria">
                            
                            
                    </select>
                    <label>CATEGORIAS MATRICES</label>
                    
                </div>
                
                <br/>
                <div class="input-field marcoBtnSetting">
                    <input placeholder="" id="nombreCategoriaMatrices" type="text" class="validate">
                    <label>MATRICES</label>
                    <a href="#" class="waves-effect waves-light btn" onclick="">CREAR</a>
                </div>
                
                <br/>
                <div class="etiquetaSubtitulos" style="width: 95%;margin: auto;">2. Categorias creadas</div>
                <br/>
                <table id="tableCategoriasCreadas"></table>
                
            </div>
            <!-- Fin Display crear matrices -->
            
            <!-- FIN MENU MAESTRAS PORTAFOLIO  -->
            
            </article>
            
        </div>
        <script src="../../library/js/jquery-3.2.1.min.js"></script>
        <script src="../../library/materialize/js/materialize.min.js"></script>
        <script src="../js/crearSectorEconomico.js"></script>
        <script src="../js/navegationSetting.js"></script>
        <script src="../js/ListaSectoresEconomicos.js"></script>
        <script src="../js/crearCategoriaMatrices.js"></script>
        
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            
                 $('select').formSelect();
                 
            });
    
        </script>
    </body>
</html>
