
/*
Los siguientes son los estilos de los marcos principales
del software, incluyendo los responsive...
*/


/* Marco general */

html,body{
    margin: 0%;
    height: 100%;
}

.LimitFrame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen AND (max-width:899px){
.header{
    width: 100%;
    height: 10%;
    min-height: 50px;
    background: #29385B;
    color: #fff;
    display: flex;
    -webkit-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
    
}
}
@media screen AND (min-width:900px){
.header{
    width: 100%;
    height: 8%;
    min-height: 50px;
    background: #29385B;
    color: #fff;
    display: flex;
    -webkit-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
}
}

@media screen AND (max-width:899px){
.headerIzq{
    width: 23%;
    height: 100%;
    /* border: 1px solid #FFF; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCentro{
    width: 62%;
    height: 100%;
    /*border: 1px solid #ddd; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDer{
    width: 15%;
    height: 100%;
    /*border: 1px solid #ddd; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloPrincipalHeader{
    margin-right: 8%;
}
}
@media screen AND (min-width:900px){
.headerIzq{
    width: 10%;
    height: 100%;
    /* border: 1px solid #FFF;*/
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCentro{
    width: 70%;
    height: 100%;
    /*border: 1px solid #ddd;*/ 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerDer{
    width: 20%;
    height: 100%;
    /*border: 1px solid #ddd;*/ 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloPrincipalHeader{
    margin-left: 10%;
}

}


@media screen AND (max-width:899px){
    .menuHamburguesa{
        display: block;
        font-size: 20px;
        
    }
    .nombreUsuario{
      display: none;
      font-size: 20px;
    }
    
}
@media screen AND (min-width:900px){
    .menuHamburguesa{
        display: none;
    }
    .nombreUsuario{
      display: block;  
    }
}


@media screen AND (max-width:899px){
.nav{
    display: block;
    height: 100%;
}
}

@media screen AND (min-width:900px){
.nav{
    width: 20%;
    min-width: 180px;
    /*background: blue;*/
    color: #222;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    
}

#slide-out{
    width: 100%;
    min-width: 180px;
    height: 100%;
    position: relative;
    /*background: blue;*/
    color: #222;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    transform: translateX(0%);
    overflow-x:hidden;
    overflow-y:hidden;
    
}

}

.menuHamburguesa{
    color: #222;
}

.iconoHambuguesa{
    color: #fff;
}

@media screen AND (max-width:899px){
.article{
    width: 96%;
    height: 80%;
    margin: auto;
    /*background: green;*/
    position: absolute;
    /*top: 65px;*/
    top: 10%;
    left: 2%;
}
}

@media screen AND (min-width:900px){
.article{
    width: 80%;
    height: 92%;
    /* background: green; */
    
}
}

.marcoTitleArticle{
    width: 98%;
    height: 10%;
    min-height: 40px;
    margin-left: 1%;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.marcoContainerArticle{
    width: 98%;
    height: 90%;
    margin-left: 1%;
    display: none;
}




@media screen AND (max-width:899px){
.footer{
    display: none;
}
}

@media screen AND (min-width:900px){
.footer{
    width: 100%;
    height: 8%;
    background: orange;
}
}



/* Botones */

/* Botones menu inicio */
.button {
  font-size: 15px !important;
  padding: 3px !important;
  height: 40px !important;
  width: 95% !important;
  margin-left: 2.5% !important;
  margin-top: 10px !important;
}


/* Botones menu Fin*/

/* Tablas de la app */

@media screen AND (max-width:899px){
thead td{
   font-weight: bold;
   text-align: center;
   font-size: 10px;
}
}

@media screen AND (min-width:900px){
thead td{
   font-weight: bold;
   text-align: center;
}
}

tbody{
    font-size: 12px;
}

td{
    padding: 1px !important;
    display: flex;
    align-items: center;
}

.marcoCheckBox{
    margin: 0px;
}    

/* Fin de los estilos tabla */



/* Menu navegacion Modulos */

@media screen AND (max-width:899px){
.menuNavegacionModulo{
    width: 100%;
    font-size: 10px;
    border: 2px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
}

@media screen AND (min-width:900px){
.menuNavegacionModulo{
    width: 100%;
    height: 40px;
    font-size: 10px;
    border: 2px solid #fff;
    display: flex;
    justify-content: flex-start;
    
    
}
}

/* Fin Menu navegacion Modulos */

/* botones acceso submodulo */

@media screen AND (max-width:899px){
.btnAccesoSubModulo{
    width: 23%;
    padding: 2px;
    height: 40px;
    background: #f4f4f4;
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

}
}

@media screen AND (min-width:900px){
.btnAccesoSubModulo{
    width: 14%;
    padding: 2px;
    height: 100%;
    margin-left: 4px;
    background: #f4f4f4;
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
}


@media screen AND (max-width:899px){
.styloInputGeneral{
    width: 45%;
    max-width: 200px;
    margin-left: 10px;
}
}

@media screen AND (min-width:900px){
.styloInputGeneral{
    width: 45%;
    max-width: 200px;
    margin-left: 20px;
}
}



/*
.btnAccesoSubModulo:hover{
    border: 1px solid #ddd;
    border-bottom: 3px solid #29385B;
    box-sizing: border-box;
}
*/

/* Fin botones acceso submodulo */

/* boton generar cotización en VIEW HOME */


@media screen AND (max-width:899px){
    .btn{
        width: 100%;
        margin: auto;
    }
}


/* nombres categorias ej: Laboratorio microbiología, lab fq, "información del cliente" */

@media screen AND (max-width:900px){
    .etiquetaSubtitulos{
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
    
}
@media screen AND (min-width:900px){
    .etiquetaSubtitulos{
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
}

/* iconos desplegar contraer */
    
.fa-minus{
    display: initial;
}


/* contenedor despliegue en home.html */
.contenedorContenidoSubtitulo{
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;;
    width: 100%;
    min-height:100px;
    border: 1px solid #ddd;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}


/* -- fin iconos desplegar contraer ..*/



/* -- fin estilo categorias --*/

/* ESTILOS SUBMODULOS */


/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad elaboración de la cotizacion */

@media screen AND (max-width:899px){
#elaborarCotizacionId{
    display: none;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
}
}

@media screen AND (min-width:900px){
#elaborarCotizacionId{
    display: none;
    max-width: 500px;
    margin: auto;
    margin-top: 70px;
}
}





/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad seguimiento a las cotizaciones */


#tablaSeguimientoCotizaciones{
    height: 10px;
    font-size: 12px;
    width: 100%;
}

@media screen AND (max-width:899px){
#tablaSeguimientoCotizaciones thead{
    font-size: 9px;
}
}

@media screen AND (min-width:900px){
#tablaSeguimientoCotizaciones thead{
    font-size: 12px;
}
}

/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad crear portafolio */

.containerPortafolio{
    width: 100%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#ContenedorCrearPortafolioId{
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}


#tituloCrearPortafolioId{
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

#consultarPortafolioId{
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-top: 20px;
}

#tituloConsultarPortafolioId{
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}


.filtrarConsultaPortafolio{
    width: 100%;
}

@media screen AND (min-width:899px){
    #btnCrearProductoPortafolio{
        margin-left: 20px;
    }
    
    #btnConsultarCliente{
        display: none;
        width: 130px;
        margin-left: 20px;
}

}





/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad crear clientes */

.containerClientes{
    width: 100%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#ContenedorCrearClienteId{
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}


#crearClienteId{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;;
    width: 100%;
    box-sizing: border-box;
}



#tituloCrearClienteId{
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

#consultarClienteId{
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 100px;
}

#tituloConsultarClienteId{
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

  

@media screen AND (min-width:899px){
    #btnCrearCliente{
        margin-left: 20px;
    }
}


.etiquetaInformacionAcuerdos{
    width: 60%;
    border: 1px solid #ddd;
    padding: 5px;
}    
.respuestaInformacionAcuerdos{
    width: 40%;
    border: 1px solid #ddd;
    padding: 5px;
}


/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad crear Ofertas */

.containerCrearOfertas{
    background: green;
    width: 100%;
    height: 90%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad Metas comerciales */

.containerMetasComerciales{
    background: blue;
    width: 100%;
    height: 90%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

/* Funcionalidades modulo comercial en vista home.html */
/* Funcionalidad resultados Comerciales */

.containerResultadosComerciales{
    background: orange;
    width: 100%;
    height: 90%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}


/* Funcionalidades modulo comercial en vista home.html */
/* Acceso portal del cliente */

@media screen AND (max-width:899px){
.loginEntrarPortal{
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
}
@media screen AND (min-width:900px){
.loginEntrarPortal{
    width: 300px;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
}



/* Funcionalidades MODULO RECOLECCION DE MUESTRAS en vista home.html */
/* Funcionalidad notificacion de solicitudes de recoleccion */

.containerNotificacionRecoleccion{
    width: 100%;
    display: none;
}


.rowSolicitudRecoleccion{
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 7px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

@media screen AND (max-width:899px){
.datosDelClienteSolicitudRecoleccion{
    width: 75%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 100% !important;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}
}

@media screen AND (min-width:900px){
.datosDelClienteSolicitudRecoleccion{
    width: 80%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 100% !important;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}
}

@media screen AND (max-width:899px){
.controladoresSolicitudRecoleccion{
    width: 25%;
    padding: 5px;
    display: flex;
    flex-wrap:wrap;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}
}

@media screen AND (min-width:900px){
.controladoresSolicitudRecoleccion{
    width: 20%;
    padding: 5px;
    display: flex;
    flex-wrap:wrap;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}
}

@media screen AND (max-width:899px){
    #aprobarSolicitudRecoleccion{
        font-size: 9px;
        text-align: center;
    }
    
    #ReprogramarSolicitudRecoleccion{
        font-size: 9px;
        text-align: center;
    }
}

.datosOcultarSolicitudRecoleccion{
  display: none;   
}

/* Funcionalidades MODULO RECOLECCION DE MUESTRAS en vista home.html */
/* Funcionalidad registrar solicitudes de recoleccion */

.containerRegistrarSolicitud{
    width: 100%;
    display: none;
}

.marcoRegistrarSolicitudRecoleccion{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

@media screen AND (max-width:899px){
.rowRegistrarEnLugarRecoleccionMovil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    /*border: 1px solid #ddd;*/
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.rowRegistrarEnLugarRecoleccionOrdenador{
    display: none;
}

}

@media screen AND (min-width:900px){
.rowRegistrarEnLugarRecoleccionMovil{
    display: none;
}
    
.rowRegistrarEnLugarRecoleccionOrdenador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    /*border: 1px solid #ddd;*/
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    }
}

#rowMovilVisibleLugarRecoleccion{
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.rowRegistrarLugarRecoleccionOculta{
 display: none;
 width: 100%;
 flex-wrap: wrap;
 cursor: pointer;
    
}


@media screen AND (max-width:899px){
.campoTitleLugarRecoleccion{
    display: none;
    background: #f4f4f4;
    color: #333;
    width: 25%;
    height: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
}
}
@media screen AND (min-width:900px){
.campoTitleLugarRecoleccion{
    display: block;
    background: #f4f4f4;
    color: #333;
    width: 12.5%;
    height: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
}
}

@media screen AND (max-width:899px){  
.campoLugarRecoleccionDisabled{
    display: block;
    width: 33.34%;
    height: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
}
}

@media screen AND (min-width:900px){  
.campoLugarRecoleccionDisabled{
    display: block;
    width: 12.5%;
    height: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
}
}


.campoLugarRecoleccion{
    display: none;
    width: 12.5%;
    height: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
}


/* Funcionalidades MODULO RECOLECCION DE MUESTRAS en vista home.html */
/* Funcionalidad Programar solicitudes de recoleccion */

.containerProgramarRecoleccion{
    background: yellow;
    width: 100%;
    height: 90%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

/* Funcionalidades MODULO RECOLECCION DE MUESTRAS en vista home.html */
/* Funcionalidad hoja de ruta de recoleccion */

.containerHojaRutaRecoleccion{
    background: blue;
    width: 100%;
    height: 90%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
