<!DOCTYPE html>
<html>
    <head>
        <title>PORTAL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../../library/materialize/css/materialize.min.css">
        
    </head>
    <body>
        
        <!-- Ventana navegacion modal movil btn hamburguesa-->
     
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
        <!-- Fin nav -->
        
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq">
                    <span><i class="fas fa-flask"></i>&nbsp;OPERLAB</span>
                </div>
                <div class="headerCentro"><span class="tituloPrincipalHeader">PORTAL DEL CLIENTE</span></div>
                <div class="headerDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars iconoHambuguesa"></i></a>
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA</span>
                </div>
            </header>
            <div class="nav">
                <div id="slide-out" class="sidenav">
                    
                    <a class="waves-effect waves-light btn button sidenav-close">MIS SERVICIOS</a>
                    <a class="waves-effect waves-light btn button sidenav-close">MIS COTIZACIONES</a>
                    <a class="waves-effect waves-light btn button sidenav-close">SOLICITUD SERVICIO</a>
                    <a class="waves-effect waves-light btn button sidenav-close">RECOLECCIÓN MUESTRAS</a>
                    <a class="waves-effect waves-light btn button sidenav-close">RESULTADOS PARCIALES</a>
                    <a class="waves-effect waves-light btn button sidenav-close">INFORMES DE RESULTADOS</a>
                    <a class="waves-effect waves-light btn button sidenav-close">FACTURACIÓN</a>
                    
                  </div>
            </div>
            
            <article class="article">
                <div class="marcoTitleArticle" id="marcoTitleArticleId">
                    <div class="titleMenuSeleccionado"></div>
                </div>
                
                
                
                
            </article>
            
        </div>
        <script src="../../library/js/jquery-3.2.1.min.js"></script>
        <script src="../../library/materialize/js/materialize.min.js"></script>
        <script src="../../js/navegacionMenuPrincipal.js"></script>
        <script src="../../js/comercial/navegacionComercial.js"></script>
        <script>
            
            $(document).ready(function(){
                $('.sidenav').sidenav();
            
                $('select').formSelect();
            
                $('.dropdown-trigger').dropdown();
            
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html>