<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../../style/Comercial/StyleCotizacion.css">
        <link rel="stylesheet" href="../../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../../library/materialize/css/materialize.min.css">
        <script src="../../library/js/jquery-3.2.1.min.js"></script>
        <script src="../../library/materialize/js/materialize.min.js"></script>
        
    </head>
    <body>
        
        <!-- Ventana navegacion modal movil -->
  
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
        <!-- Fin nav -->
        
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq">
                    <a href="../home.html" data-target="slide-out" style="color: #fff;"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="headerCentro"></div>
                <div class="headerDer">
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA</span>

                </div>
            </header>
            
            <article class="article">
              
                <div class="marcoTitleArticle">
                    <div class="titleMenuSeleccionado">REALIZANDO LA COTIZACIÓN</div>
                </div>
                <div class="marcoContainerArticle">
                    
                    <div class="etiquetaAreaLab">INFORMACIÓN DEL CLIENTE</div> 
                    <br/>
                    <div class="marcoInformacionCliente">
                        <div class="marcoRadioButtonInfCliente">
                        <p>
                            <label>
                              <input class="with-gap" name="group1" type="radio" checked />
                              <span>Cliente prospecto</span>
                            </label>
                        </p>
                        <p>
                            <label>
                              <input class="with-gap" name="group1" type="radio"  />
                              <span>Cliente</span>
                            </label>
                        </p>
                        </div>
                    </div>
                    
                    <div class="etiquetaAreaLab">MICROBIOLOGÍA</div> 
                    <br/>
                    <table class="highlight">
                        <thead>
                        <tr>
                            <td style="width: 37%;">ENSAYO</td>
                            <td style="width: 35%;">MÉTODO</td>
                            <td style="width: 23%;">PRECIO</td>
                            <td style="width: 5%;"></td>
                        </tr>  
                        </thead>
                        <tbody>
                        <tr>   
                            <td>Listeria</td>
                            <td>ISO 34991</td>
                            <td>$ 45.321.00</td>
                            <td>
                                <p class="marcoCheckBox">
                                    <label>
                                        <input type="checkbox" class="filled-in"/>
                                        <span/></span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Salmonella</td>
                            <td>ISO 16223</td>
                            <td>$ 84.667.00</td>
                            <td>
                                <p class="marcoCheckBox">
                                    <label>
                                      <input type="checkbox" class="filled-in" />
                                      <span></span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                        <tr>    
                            <td>Mohos y levaduras</td>
                            <td>ISO 34443</td>
                            <td>$ 32.777.00</td>
                            <td>
                                <p class="marcoCheckBox">
                                    <label>
                                      <input type="checkbox" class="filled-in" />
                                      <span></span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                    </tbody>    
                    </table>
                    
                    <div class="etiquetaAreaLab">FISICOQUÍMICO</div> 
                    
                    <br/>
                    <table class="highlight">
                        <thead>
                        <tr>
                            <td style="width: 37%;">ENSAYO</td>
                            <td style="width: 35%;">MÉTODO</td>
                            <td style="width: 23%;">PRECIO</td>
                            <td style="width: 5%;"></td>
                        </tr>  
                        </thead>
                        <tbody>
                        <tr>    
                            <td>Proteina</td>
                            <td>AOAC 334.32</td>
                            <td>$ 105.900</td>
                            <td>
                                <p class="marcoCheckBox">
                                    <label>
                                      <input type="checkbox" class="filled-in" />
                                      <span></span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                        <tr>    
                            <td>Vitamina A</td>
                            <td>USP 61</td>
                            <td>$ 214.222.00</td>
                            <td>
                                <p class="marcoCheckBox">
                                    <label>
                                      <input type="checkbox" class="filled-in" />
                                      <span></span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                        <tr>    
                            <td>Vitamina A</td>
                            <td>ISO 23432</td>
                            <td>$ 99.890.00</td>
                            <td>
                                <p class="marcoCheckBox">
                                    <label>
                                      <input type="checkbox" class="filled-in" />
                                      <span></span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                    </tbody>    
                    </table>
                    
                </div>
            </article>
            
        </div>
    </body>
</html>
