<!DOCTYPE html>
<html>
    <head>
        <title>Cotizacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../../style/Comercial/StyleCotizacion.css">
        <link rel="stylesheet" href="../../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../../library/materialize/css/materialize.min.css">
    </head>
    <body>
        
        <!-- Ventana navegacion modal movil -->
  
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
        <!-- Fin nav -->
        
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq">
                    <a href="../home.html" data-target="slide-out" style="color: #fff;"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="headerCentro"></div>
                <div class="headerDer">
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA</span>

                </div>
            </header>
            
            <article class="article">
              
                <div class="marcoTitleArticle">
                    <div class="titleMenuSeleccionado">COTIZACIÓN</div>
                </div>
                <div class="marcoContainerArticle">
                    <br/>
                    HARINERA DEL VALLE
                    <br/>
                    <br/>
                    Cordial saludo
                    <br/>
                    <br/>
                    Para el laboratorio Bioindustrial, es un gusto poder atenderlo. Segun su solicitud a continuación se presenta
                    la mejor oferta de servicio del mercado.
                    <br/>
                    
                    
                </div>    
                
            </article>
            
        </div>
        <script src="../../library/js/jquery-3.2.1.min.js"></script>
        <script src="../../library/materialize/js/materialize.min.js"></script>
        <script src="../../js/comercial/makingQuote_DatosTipoCliente.js"></script>
    </body>
</html>
