<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../library/materialize/css/materialize.min.css">
        <script src="../library/js/jquery-3.2.1.min.js"></script>
        <script src="../library/materialize/js/materialize.min.js"></script>
        <script src="../js/navegacionMenuPrincipal.js"></script>
        <script src="../js/comercial/navegacionComercial.js"></script>
        <script>
            
            $(document).ready(function(){
                $('.sidenav').sidenav();
              });
            
        </script>
    </head>
    <body>
        
        <!-- Ventana navegacion modal movil btn hamburguesa-->
      
  
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
        <!-- Fin nav -->
        
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq"></div>
                <div class="headerCentro"></div>
                <div class="headerDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars iconoHambuguesa"></i></a>
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA</span>
                </div>
            </header>
            <div class="nav">
                <div id="slide-out" class="sidenav">
                    
                    
                    
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuComercial();">COMERCIAL</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuRecoleccion();">RECOLECCIÓN DE MUESTRAS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuMatricula();">MATRICULA DE MUESTRAS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuAsignacionTrabajo();">ASIGNACIÓN DE TRABAJO</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuRegistrarAnalisis();">REGISTRAR ANALISIS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuAprobarEnviarInforme();">APROBAR Y ENVIAR RESULTADOS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuFacturacion();">FACTURACIÓN</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuInteligenciaNegocio();">INTELIGENCIA DE NEGOCIO</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuPortalCliente();">PORTAL DEL CLIENTE</a>
                    
                  </div>
            </div>
            
            <article class="article">
                <div class="marcoTitleArticle" id="marcoTitleArticleId">
                    <div class="titleMenuSeleccionado"></div>
                </div>
                
                <!-- modulo Gestión comercial -->
                
                <div class="marcoContainerArticle" id="menuComercial">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo" id="subModuloresultadosComerciales" onclick="resultadosComerciales();">RESULTADOS COMERCIALES</div>
                    <div class="btnAccesoSubModulo" id="subModuloElaborarCotizacion" onclick="elaborarCotizacion();">COTIZACIONES</div>
                    <div class="btnAccesoSubModulo" id="subModuloSeguimientoCotizaciones" onclick="seguimientoCotizaciones();">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo" id="subModuloCrearPortafolio" onclick="crearPortafolio();">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo" id="subModuloCrearCliente" onclick="crearClientes();">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo" id="subModuloCrearOfertas" onclick="crearOfertas();">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo" id="subModuloMetasComerciales" onclick="metasComerciales();">METAS COMERCIALES</div>
                </div>
                
                    <!-- ResultadosComerciales -->
                    
                    <div class="containerResultadosComerciales" id="containerResultadosComercialesId">
                        
                        
                        
                        
                    </div>
                    
                    <!-- Fin ResultadosComerciales -->
                    
                    <!-- Elaborar Cotización -->
                    <div class="ElaborarCotizacion" id="elaborarCotizacionId">
                            
                        <div class="containerSeleccionTipoMatriz">
                              <label>
                                <input class="with-gap" name="group1" type="radio"  />
                                <span>Alimentos</span>
                              </label>
                              <label>
                                <input class="with-gap" name="group1" type="radio"  />
                                <span>Aguas</span>
                              </label>
                              <label>
                                <input class="with-gap" name="group1" type="radio"  />
                                <span>Farmaceuticos</span>
                              </label>
                              <label>
                                <input class="with-gap" name="group1" type="radio"  />
                                <span>Cosmeticos</span>
                              </label>
                              <label>
                                <input class="with-gap" name="group1" type="radio"  />
                                <span>Materias prima</span>
                              </label>
                            </div>
                        
                            <br/>
                            <div class="input-field">
                                <input type="text" class="validate" placeholder="ingresa el producto del cliente">
                              <label class="active">MATRIZ</label>
                            </div>
                        <a href="./comercial/making_a_quote.html" class="waves-effect waves-light btn">OFERTAR</a>
                    </div>    
                    
                    
                    <!--  Seguimiento a contizaciones  -->
                    <div id="containerSeguimientoCotizaciones" style="display: none;">
                    <table class="highlight" id="tablaSeguimientoCotizaciones">
                        <thead>
                        <tr>
                            <td style="width: 15%;text-align: center;font-weight: bold;">CÓDIGO COTIZACIÓN</td>
                            <td style="width: 30%;text-align: center;font-weight: bold;">CLIENTE</td>
                            <td style="width: 25%;text-align: center;font-weight: bold;">ESPECIALISTA LÍNEA</td>
                            <td style="width: 15%;text-align: center;font-weight: bold;">FECHA COTIZACIÓN</td>
                            <td style="width: 15%;text-align: center;font-weight: bold;">FECHA VENCIMIENTO</td>
                        </tr>  
                        </thead>
                        <tbody>
                        <tr>   
                            <td>201902-32</td>
                            <td>Harinera del valle</td>
                            <td>Carolina Reyes</td>
                            <td>2019-02-09</td>
                            <td>2019-03-09</td>
                        </tr>
                        <tr>   
                            <td>201902-33</td>
                            <td>Colombina</td>
                            <td>Lorena Gomez</td>
                            <td>2019-02-09</td>
                            <td>2019-03-09</td>
                        </tr>
                    </tbody>    
                    </table>
                    </div>
                    
                    <!--  Crear portafolio de servicios  -->
                    
                    <div class="containerCrearPortafolio" id="containerCrearPortafolioId">
                        
                        
                        
                        
                    </div>
                    
                    <!--  Fin Crear portafolio de servicios  -->
                    
                    <!-- Crear clientes -->
                    
                    <div class="containerCrearClientes" id="containerCrearClientesId">
                        
                        
                        
                        
                    </div>
                    
                    <!-- Fin crear clientes -->
                    
                    <!-- crear Ofertas -->
                    
                    <div class="containerCrearOfertas" id="containerCrearOfertasId">
                        
                        
                        
                        
                    </div>
                    
                    <!-- Fin crear Ofertas -->
                    
                    <!-- Metas comerciales -->
                    
                    <div class="containerMetasComerciales" id="containerMetasComercialesId">
                        
                        
                        
                        
                    </div>
                    
                    <!-- Fin Metas comerciales -->
                    
                    
                    
                    
                </div> <!--  Fin Modulo Comercial -->
                
                
                <!-- modulo Recoleccion muestras -->
                
                <div class="marcoContainerArticle" id="menuRecoleccion">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">NOTIFICACIÓN SOLICITUDES</div>
                    <div class="btnAccesoSubModulo">REGISTRAR SOLICITUD</div>
                    <div class="btnAccesoSubModulo">PROGRAMAR RECOLECCIÓN</div>
                    <div class="btnAccesoSubModulo">HOJA DE RUTA RECOLECCIÓN</div>
                </div>
                
                </div>
                
                <!-- modulo Matricula de muestras -->
                
                <div class="marcoContainerArticle" id="menuMatricula">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">MATRICULAR MUESTRAS</div>
                    <div class="btnAccesoSubModulo">ALMACENAMIENTO DE MUESTRAS</div>
                </div>
                
                </div>
                
                <!-- modulo Asignación de trabajo -->
                
                <div class="marcoContainerArticle" id="menuAsignacionTrabajo">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">ASIGNAR TRABAJO</div>
                    <div class="btnAccesoSubModulo">CREAR LABORATORIOS</div>
                    <div class="btnAccesoSubModulo">CREAR CENTROS DE TRABAJO</div>
                    <div class="btnAccesoSubModulo">CREAR PERSONAL</div>
                </div>
                
                </div>
                
                <!-- modulo Registrar analisis -->
                
                <div class="marcoContainerArticle" id="menuRegistrarAnalisis">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">HOJAS DE TRABAJO</div>
                </div>
                
                </div>
               
                <!-- modulo aprobar y enviar resultados -->
                
                <div class="marcoContainerArticle" id="menuAprobarEnviarResultados">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">REVISION Y APROBACIÓN DE INFORMES DE RESULTADOS</div>
                    <div class="btnAccesoSubModulo">ENTREGAR INFORMES DE RESULTADOS</div>
                    <div class="btnAccesoSubModulo">MODIFICAR INFORMES DE RESULTADO</div>
                </div>
                
                </div>
                
                <!-- modulo Facturación -->
                
                <div class="marcoContainerArticle" id="menuFacturacion">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">REGLAS DE FACTURACIÓN</div>
                    <div class="btnAccesoSubModulo">CREAR FACTURAS</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO A FACTURAS</div>
                    <div class="btnAccesoSubModulo">ENVIAR FACTURAS</div>
                </div>
                
                </div>
                
                <!-- modulo Inteligencia de negocio -->
                
                <div class="marcoContainerArticle" id="menuInteligenciaNegocio">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">GESTIÓN COMERCIAL</div>
                    <div class="btnAccesoSubModulo">OPERACIONES</div>
                    <div class="btnAccesoSubModulo">FACTURACIÓN</div>
                    <div class="btnAccesoSubModulo">SATISFACCIÓN DEL CLIENTE</div>
                </div>
                
                </div>
                
                <!-- modulo Portal cliente -->
                
                <div class="marcoContainerArticle" id="menuPortalCliente">
                    
                
                
                </div>
                
            </article>
            
        </div>
    </body>
</html>