<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../library/materialize/css/materialize.min.css">
        <script src="../library/js/jquery-3.2.1.min.js"></script>
        <script src="../library/materialize/js/materialize.min.js"></script>
        <script src="../js/navegacionMenuPrincipal.js"></script>
        <script>
            
            $(document).ready(function(){
                $('.sidenav').sidenav();
              });
            
        </script>
    </head>
    <body>
        
        <!-- Ventana navegacion modal movil -->
      
  
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
        <!-- Fin nav -->
        
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq"></div>
                <div class="headerCentro"></div>
                <div class="headerDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars iconoHambuguesa"></i></a>
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA</span>
                </div>
            </header>
            <div class="nav">
                <div id="slide-out" class="sidenav">
                    
                    
                    <div class="button" onclick="menuComercial();">COMERCIAL<span></span></div>
                    <div class="button" onclick="menuRecoleccion();">RECOLECCIÓN DE MUESTRAS<span>.</span></div>
                    <div class="button" onclick="menuMatricula();">MATRICULA DE MUESTRAS<span></span></div>
                    <div class="button" onclick="menuAsignacionTrabajo();">ASIGNACIÓN DE TRABAJO<span></span></div>
                    <div class="button">REGISTRAR ANALISIS<span></span></div>
                    <div class="button">APROBAR Y ENVIAR RESULTADOS<span></span></div>
                    <div class="button">INTELIGENCIA DE NEGOCIO<span></span></div>
                    <div class="button">PORTAL DEL CLIENTE<span></span></div>
                    
                  </div>
            </div>
            
            <article class="article">
                <div class="marcoTitleArticle" id="marcoTitleArticleId">
                    <div class="titleMenuSeleccionado"></div>
                </div>
                
                <!-- modulo Gestión comercial -->
                
                <div class="marcoContainerArticle" id="menuComercial">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">RESULTADOS COMERCIALES</div>
                    <div class="btnAccesoSubModulo">COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo">METAS COMERCIALES</div>
                </div>
                
                </div>
                
                <!-- modulo Recoleccion muestras -->
                
                <div class="marcoContainerArticle" id="menuRecoleccion">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">RESULTADOS</div>
                    <div class="btnAccesoSubModulo">COTIZA</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo">METAS COMERCIALES</div>
                </div>
                
                </div>
                
                <!-- modulo Matricula de muestras -->
                
                <div class="marcoContainerArticle" id="menuMatricula">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">RESULTADOS</div>
                    <div class="btnAccesoSubModulo">COTIZA</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo">METAS COMERCIALES</div>
                </div>
                
                </div>
                
                <!-- modulo Asignación de trabajo -->
                
                <div class="marcoContainerArticle" id="menuAsignacionTrabajo">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">RESULTADOS</div>
                    <div class="btnAccesoSubModulo">COTIZA</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo">METAS COMERCIALES</div>
                </div>
                
                </div>
                
                <!-- modulo Registrar analisis -->
                
                <div class="marcoContainerArticle" id="menuRegistrarAnalisis">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">RESULTADOS</div>
                    <div class="btnAccesoSubModulo">COTIZA</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo">METAS COMERCIALES</div>
                </div>
                
                </div>
                
            </article>
            
        </div>
    </body>
</html>