<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/FrameWork/styleFrame.css">
        <link rel="stylesheet" href="../library/fontawesome-free-5.7.0-web/css/all.min.css">
        <link rel="stylesheet" href="../library/materialize/css/materialize.min.css">
        <script src="../library/js/jquery-3.2.1.min.js"></script>
        <script src="../library/materialize/js/materialize.min.js"></script>
        <script src="../js/navegacionMenuPrincipal.js"></script>
        <script src="../js/comercial/navegacionComercial.js"></script>
        <script>
            
            $(document).ready(function(){
                $('.sidenav').sidenav();
              });
            
        </script>
    </head>
    <body>
        
        <!-- Ventana navegacion modal movil -->
      
  
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
        <!-- Fin nav -->
        
        <div class="LimitFrame">
            <header class="header">
                <div class="headerIzq"></div>
                <div class="headerCentro"></div>
                <div class="headerDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars iconoHambuguesa"></i></a>
                    <span class="nombreUsuario"><i class="fas fa-user"></i>&nbsp;JUAN DAVID GARCÍA</span>
                </div>
            </header>
            <div class="nav">
                <div id="slide-out" class="sidenav">
                    
                    
                    
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuComercial();">COMERCIAL</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuRecoleccion();">RECOLECCIÓN DE MUESTRAS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuMatricula();">MATRICULA DE MUESTRAS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuAsignacionTrabajo();">ASIGNACIÓN DE TRABAJO</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuRegistrarAnalisis();">REGISTRAR ANALISIS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuAprobarEnviarInforme();">APROBAR Y ENVIAR RESULTADOS</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuFacturacion();">FACTURACIÓN</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuInteligenciaNegocio();">INTELIGENCIA DE NEGOCIO</a>
                    <a class="waves-effect waves-light btn button sidenav-close" onclick="menuPortalCliente();">PORTAL DEL CLIENTE</a>
                    
                  </div>
            </div>
            
            <article class="article">
                <div class="marcoTitleArticle" id="marcoTitleArticleId">
                    <div class="titleMenuSeleccionado"></div>
                </div>
                
                <!-- modulo Gestión comercial -->
                
                <div class="marcoContainerArticle" id="menuComercial">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">RESULTADOS COMERCIALES</div>
                    <div class="btnAccesoSubModulo" id="subModuloElaborarCotizacion" onclick="elaborarCotizacion();">COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO COTIZACIONES</div>
                    <div class="btnAccesoSubModulo">CREAR PORTAFOLIO</div>
                    <div class="btnAccesoSubModulo">CREAR CLIENTE</div>
                    <div class="btnAccesoSubModulo">CREAR OFERTAS</div>
                    <div class="btnAccesoSubModulo">METAS COMERCIALES</div>
                </div>
                
                    
                    
                    <!-- Cotización -->
                    <div class="ElaborarCotizacion" id="elaborarCotizacionId">
                       
                            <div class="input-field">
                                <input type="text" class="validate" placeholder="ingresa el producto del cliente">
                              <label class="active">MATRIZ</label>
                            </div>
                            
                        <a href="./comercial/making_a_quote.html" class="waves-effect waves-light btn">OFERTAR</a>
                        
                        
                        
                    </div>    
                    
                    
                    
                    
                </div>
                
                <!-- modulo Recoleccion muestras -->
                
                <div class="marcoContainerArticle" id="menuRecoleccion">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">NOTIFICACIÓN SOLICITUDES</div>
                    <div class="btnAccesoSubModulo">REGISTRAR SOLICITUD</div>
                    <div class="btnAccesoSubModulo">PROGRAMAR RECOLECCIÓN</div>
                    <div class="btnAccesoSubModulo">HOJA DE RUTA RECOLECCIÓN</div>
                </div>
                
                </div>
                
                <!-- modulo Matricula de muestras -->
                
                <div class="marcoContainerArticle" id="menuMatricula">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">MATRICULAR MUESTRAS</div>
                    <div class="btnAccesoSubModulo">ALMACENAMIENTO DE MUESTRAS</div>
                </div>
                
                </div>
                
                <!-- modulo Asignación de trabajo -->
                
                <div class="marcoContainerArticle" id="menuAsignacionTrabajo">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">ASIGNAR TRABAJO</div>
                    <div class="btnAccesoSubModulo">CREAR LABORATORIOS</div>
                    <div class="btnAccesoSubModulo">CREAR CENTROS DE TRABAJO</div>
                    <div class="btnAccesoSubModulo">CREAR PERSONAL</div>
                </div>
                
                </div>
                
                <!-- modulo Registrar analisis -->
                
                <div class="marcoContainerArticle" id="menuRegistrarAnalisis">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">HOJAS DE TRABAJO</div>
                </div>
                
                </div>
               
                <!-- modulo aprobar y enviar resultados -->
                
                <div class="marcoContainerArticle" id="menuAprobarEnviarResultados">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">REVISION Y APROBACIÓN DE INFORMES DE RESULTADOS</div>
                    <div class="btnAccesoSubModulo">ENTREGAR INFORMES DE RESULTADOS</div>
                    <div class="btnAccesoSubModulo">MODIFICAR INFORMES DE RESULTADO</div>
                </div>
                
                </div>
                
                <!-- modulo Facturación -->
                
                <div class="marcoContainerArticle" id="menuFacturacion">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">REGLAS DE FACTURACIÓN</div>
                    <div class="btnAccesoSubModulo">CREAR FACTURAS</div>
                    <div class="btnAccesoSubModulo">SEGUIMIENTO A FACTURAS</div>
                    <div class="btnAccesoSubModulo">ENVIAR FACTURAS</div>
                </div>
                
                </div>
                
                <!-- modulo Inteligencia de negocio -->
                
                <div class="marcoContainerArticle" id="menuInteligenciaNegocio">
                    
                <div class="menuNavegacionModulo">
                    <div class="btnAccesoSubModulo">GESTIÓN COMERCIAL</div>
                    <div class="btnAccesoSubModulo">OPERACIONES</div>
                    <div class="btnAccesoSubModulo">FACTURACIÓN</div>
                    <div class="btnAccesoSubModulo">SATISFACCIÓN DEL CLIENTE</div>
                </div>
                
                </div>
                
                <!-- modulo Portal cliente -->
                
                <div class="marcoContainerArticle" id="menuPortalCliente">
                    
                
                
                </div>
                
            </article>
            
        </div>
    </body>
</html>